/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./components/contact/style.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.contact-section > .title{
    margin: 6rem;
    width: 100%;
}
.mail-div {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 0.5em;
    border: 1px solid var(--light);
    color: var(--darkLightShade);
    width: 95%;
    max-width: 30rem;
    margin-top: 1rem;
}

.copy-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em 0 0 0.5em;
    border-right: 1px solid var(--light);
    transition: all 0.3s ease;
    width: 80%;
}

.copy-text-div:hover {
    background-color: white;
    color: var(--carrot);
}

.mail-text {
    font-size: 1em;
    font-weight: 500;
}

.copy-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em 0 0 0.5em;
    transition: all 0.3s ease;
    width: 20%;
}

.copy-icon-div:hover {
    background-color: white;
    color: var(--carrot);
}

.copy-icon-link {
    height: 40%;
    width: 40%;
}
@media (max-width: 450px){
    .mail-text{
        font-size: 13px;
    }
}


